
.event-item {
  border: 1px solid #ccc;
  padding: 16px 16px 8px 16px;
  max-width: 80%;
  margin: 12px auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: #ffffff;
}
.event-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.event-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.event-item a:hover {
  color: #007bff;
}
