
.profile-icon-container[data-v-4bc6c8c1] {
    width: 150px; /* Встановлюємо ширину, яка вам потрібна */
    height: 150px; /* Встановлюємо висоту, яка вам потрібна */
    border-radius: 50%; /* Якщо вам потрібна кругла іконка */
    overflow: hidden; /* Щоб обрізати зайве за межами контейнера */
}
.profile-icon-container svg[data-v-4bc6c8c1] {
    width: 100%; /* Встановлюємо SVG на 100% ширини контейнера */
    height: auto; /* Висота автоматично регулюється, щоб зберегти пропорції */
}
  